*{
     margin: 0px;
    padding: 0px;
}

#background-color-header{

    background: rgb(244,242,240);
    background: linear-gradient(90deg, rgba(244,242,240,1) 2%, rgba(193,177,155,1) 45%);
}


.Container{
    background: linear-gradient(90deg, rgba(244,242,240,1) 2%, rgba(193,177,155,1) 45%);
    margin-left: 90px;
    margin-right: 90px;
}

#Kopfzeile{
     height: 200px;
    text-align: center;
    vertical-align: middle;
}

#Kopfzeile img {
    height: 200px;
    width: auto;
}

#Überschrift{
    text-align: center;
    background-color: rgb(163, 148, 130);
    color: rgb(219, 199, 172);
font-weight: bold;
font-family: initial;

}

#Startbild{

    margin-left: 450px;
}
p{
    text-align: center;
    width: 100%;
    vertical-align:middle;
    margin-top: 20px;
    font-family: initial;
    font-weight: bold;
    color: rgb(65, 61, 56);
    
  
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(155, 142, 126);
    color: rgb(219, 199, 172);
}

li{
    margin: 0 15px;
    text-decoration: none;
    text-align: center;
    font-family: initial;
    font-weight: bold;
}

li a {
    display: block;
    color: rgb(65, 61, 56);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: rgb(80, 69, 69);
}
#active {
    background-color: rgb(146, 126, 101);
    
}






#splash-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    z-index: 9999;
    align-items: center;
}
@media (max-width: 768px){
    .Container {
        width :90%;
        padding: 15px;
    }
}
@media (max-width:480px){
    .Container {
        width: 100%;
        padding: 10px;
    }
}

@media print {
    img{
        display: none;
    }
}